certifi==2025.1.31
charset-normalizer==3.4.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
image-go-nord==1.2.0
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.2
pick==2.4.0
pillow==11.1.0
Pygments==2.19.1
requests==2.32.3
rich==13.9.4
setuptools==75.8.0
urllib3==2.3.0
